<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>matches</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
</head>
<body>
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-menu" id="navMenuColorprimary-example">
        <div class="navbar-start">
            <div class="navbar-item">
                IPL Season {{season}}
            </div>


                    <div class="navbar-item">
                        <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">
                                  seasons
                                </a>

                                <div class="navbar-dropdown">
                                    {% for season in seasons %}
                                    <strong><a class="navbar-item" href="{% url 'get_matches' season.season %}">
                                      {{season.season}}
                                    </a></strong>
                                    {% endfor %}
                                </div>
                        </div>
                    </div>
        </div>
        <div class="navbar-end">
                {% if request.user.is_authenticated %}
                    <div class="navbar-item">
                        <img src="{{image.image.url}}">
                    </div>
                    <div class="navbar-item">
                        {{request.user.username}}
                    </div>
                    <div class="navbar-item">
                        <button class="button is-black" onclick="window.location.href={% url 'logout_html' %}"> logout </button>
                    </div>
                {% else %}
                    <div class="navbar-item">
                        <div class="buttons">
                             <button class="button is-black" onclick="window.location.href={% url 'login_html' %}"> login </button>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
     </div>
    </div>
    </nav>
    <div class="tabs">

    </div>
    <div style="padding:15px" class ="container is-fluid">


        <div class="box">

            <strong>{{mat.team1}} vs {{mat.team2}}</strong><br>
            <strong>Venue:</strong> {{mat.venue}}<br>
            <strong> Toss result :</strong> won by {{mat.toss_win}}<br>
            <strong> Toss Desision :</strong> opted to {{mat.toss_decision}}<br>
            <strong>man of the match :</strong>{{mat.player_of_match}}<br>
        </div>
    </div>
    <div style="margin:10px 45px" class="box">
            <div class="columns is-desktop">
                <div class="column">
                    <strong>Top Three Scorers</strong>
                </div>
            </div>
            <hr>
            <div  class="columns ">

                <div  class="column is-half">
                             <center><strong>Innings1</strong></center>
                            <hr>
                            {%  for person in top1  %}
                             <div>
                                <strong>Name :</strong>{{person.batsman}}<br>
                                <strong>Team :</strong>{{person.batting_team}}<br>
                                <strong>Runs scored :</strong>{{person.runs}}<br>
                             </div>
                            <br>
                        {% endfor %}


                </div>
                <div  class="column is-half">
                    <center><strong>Innings2</strong></center>
                            <hr>
                            {%  for person in top2  %}
                             <div>
                                <strong>Name :</strong>{{person.batsman}}<br>
                                <strong>Team :</strong>{{person.batting_team}}<br>
                                <strong>Runs scored :</strong>{{person.runs}}<br>
                             </div>
                            <br>
                        {% endfor %}


                </div>
            </div>

        </div>
        <div style="margin:20px 45px" class="box">
            <div class="columns is-desktop">
                <div class="column">
                    <strong>Top Three bowlers</strong>
                </div>
            </div>
            <hr>
            <div  class="columns ">

                <div  class="column is-half">
                             <center><strong>Innings1</strong></center>
                            <hr>
                            {%  for person in wicket1  %}
                             <div>
                                <strong>Name :</strong>{{person.bowler}}<br>
                                <strong>Team :</strong>{{person.bowling_team}}<br>
                                <strong>wickets made :</strong>{{person.wickets}}<br>
                             </div>
                             <br>
                        {% endfor %}


                </div>
                <div  class="column is-half">
                    <center><strong>Innings2</strong></center>
                            <hr>
                            {%  for person in wicket2  %}
                             <div>
                                <strong>Name :</strong>{{person.bowler}}<br>
                                <strong>Team :</strong>{{person.bowling_team}}<br>
                                <strong>wicktes made :</strong>{{person.wickets}}<br>
                             </div>
                             <br>
                        {% endfor %}


                </div>
            </div>
        </div>
        <div style="margin:20px 45px" class="tabs">
            <ul>
                <li><a href="{% url 'get_matchdetails_1' season match 1  %}">Innings1</a></li>
                <li><a href="{% url 'get_matchdetails_1' season match 2  %}">Innings2</a></li>
            </ul>
        </div>
        <div class="container is-fluid">
            <center><button class="button is-black">Inning{{inning}} commentary</button></center>
            <br>
            {% for delivery in commentary %}
            <div class ="box">

                <strong>{{delivery.over}}.{{delivery.ball}}</strong><br>
                <strong>Batsman :</strong>{{delivery.batsman}}<br>
                <strong>Bowler :</strong>{{delivery.bowler}}<br>
                {% if delivery.dismissal_kind %}
                    <strong>Wicket Reason :</strong>{{delivery.dismissal_kind}}<br>
                    {% if delivery.fielder %}
                    <strong>Fielded by :</strong>{{delivery.fielder}}
                    {% endif %}
                {% else %}
                    <strong>Total Runs :</strong>{{delivery.total_runs}}<br>
                    <strong>Extras :</strong>{{delivery.extra_runs}}
                {% endif %}
            </div>
            {% endfor %}

        </div>




</body>
</html>