<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
    <style>
        .centerall {
height: 100vh;
padding: 0;
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items:center
}

    </style>
</head>
<body>
{% if messages %}
<div class="notification is-danger" align="center" data-width="">
  <button class="delete"></button>
    {% for message in messages %}
     {{ message }}
    {% endfor %}
</div>
{% endif %}
<div class="centerall">
   <form method="POST" class="box">
    {% csrf_token %}
       <table class="table is-bordered is-striped">
        {{login}}
        </table>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;<input class="is-primary button shift" type="submit" value="submit">
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp
        <a class="button is-light"href="{% url  'signup_html'%}">signup</a>
</form>
</div>
</body>
</html>