<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>matches</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
    <style>
        .centerall {
height: 100vh;
padding: 0;
display: flex;
flex-wrap: nowrap;
justify-content: center;
}

    </style>
</head>


    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-menu" id="navMenuColorprimary-example">
        <div class="navbar-start">
            <div class="navbar-item">
                IPL Season Points Table {{season}}
            </div>



        </div>
<div class="navbar-end">
    <div class="navbar-item">
                        <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">
                                  seasons
                                </a>

                                <div class="navbar-dropdown">
                                    {% for season in seasons %}
                                    <strong><a class="navbar-item" href="{% url 'points_table' season.season %}">
                                      {{season.season}}
                                    </a></strong>
                                    {% endfor %}
                                </div>
                        </div>
                    </div>
</div>
     </div>

    </nav>
<div style="padding:15px" class ="centerall container is-fluid">
    <table class="table is-centered">
        <tr>
            <th>Team Name</th>
            <th>points</th>
        </tr>

    {%for point in points %}


        <tr>
        <td>{{point.winner}}</td>
        <td>{{point.points}}</td>
        </tr>
        {% endfor %}

</table>

</div>
</div>
</body>
</html>